.sidebar::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 3px;
  height: 15px;
}

thead th:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
thead th:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
